 
  @font-face{
    font-family: Quite Magical;
    src: url(QuiteMagical.ttf);
  }

  @font-face{
    font-family: Cassandra Personal Use;
    src: url(CassandraPersonalUse.ttf);
  }

  @font-face{
    font-family: Tomatoes;
    src: url(Tomatoes.ttf);
  }

  @font-face{
    font-family: AdineKirnberg;
    src: url(AdineKirnberg.ttf);
  }

  .navbar-brand{
    font-family: Tomatoes;   
    font-weight: bold;
    font-size: 40px;
  }

  .row{
    font-family: Quite Magical;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main, .end{
    width: 100%; 
    height: auto; 
    display: inline;
  }
    
  .bg-1{
    background-color: #474e5d;
    color: #ffffff;
   }

  .bg-2 { 
    background-color: #ffffff; 
    color: #555555;
  }

  .bg-3 { 
    background-color: #808080; 
    color: #e6e6e6;
  }

  .bg-4 { 
    background-color: #ffffff; 
    color: #262626;
  }

  .bg-5 { 
    background-color: #0d0d0d; 
    color: #ffffff;
    font-family: "Segoe UI";

  }

  .container-fluid{
    padding-top: 70px;
    padding-bottom: 70px;
  }

  h2{
    font-size: 100px;
    font-weight: bold;
    color: #cccccc;
    padding-bottom: 35px;
    font-family: AdineKirnberg;
  }

  h3{
    font-size: 100px;
    font-weight: bold;
    color: #737373;
    padding-bottom: 35px;
    font-family: AdineKirnberg;
  }

  h4{
    font-size: 25px;
    letter-spacing: 2px;
    color: #f2f2f2;
  }

  .test{
    color: #f2f2f2;
  }

  .testimonials{
    font-size: 22px;
    font-family: Georgia;
    color: #f2f2f2;
  }

  p{
    letter-spacing: 2px;
  }

  .para{
    color: #e6e6e6;
    font-family: "Segoe UI", Georgia;
  }

  .blocks{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: Quite Magical;
  }

  .ques{
    font-family: "Segoe UI";
    font-weight: bold;
    padding-bottom: 20px;
    color: #333333;
  }

  .ans{
    font-family: Arial;
    letter-spacing: 1px;
    font-size: 15px;
  }

  .navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 3px;
  }

  .navbar-nav li a{
    color: #666666 !important;
  }

  .navbar-nav li a:hover {
    color: #1abc9c !important;
  }

  ul{
    list-style-type: none;
  }

  .col-sm-6 li a{
    color: #ffffff;
    font-family: "Segoe UI";
    font-size: 14px;
  }

  .foothead{
    font-family: "Segoe UI";
    font-size: 20px;
  }

  .foot{
    font-family: "Segoe UI";
    letter-spacing: 0px;
    font-size: 14px;  
  }